@import "../../index.scss";

.statCard {
    width: 20rem;
    height: 100%;
    background-image: linear-gradient(-45deg, $accent-1, $accent-2, $accent-3);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statContainer {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba($primary, 0.9);
}

.statCard svg {
    height: 50%;
    width: 50%;

}

.statCardContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 25rem;
    align-items: center;
}