---
import "./globalStyles.css"
---
<div class="container">
  <div class="video-container">
    <video autoPlay muted loop>
      <source
              src="https://res.cloudinary.com/dvvmyybrf/video/upload/f_auto:video,q_auto/zdqa9eety3917xwzbwrh#10"
              type="video/mp4"
      />
      Video couldn't be loaded
    </video>
  </div>

</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        padding: 0;
        max-height: 100vh;
        overflow: hidden;
    }

    .video-container {
        width: 100%;
        height: 100%;
    }
    .video-container video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 30%;
        z-index: -10;
    }
</style>
