---
const props = Astro.props;
const person = props.person;
import "./globalStyles.css";
import { Icon } from "astro-icon/components";
---

<div class="card">
  <div class="header">
    <img class="player-image" src=`/players/${person.name}.webp` />
  </div>
  <div class="content">
    <span class="card-title">{person.name}</span>
    <div class="icon-container" title="More Infos">
      <Icon class="icon" name="chevron-down" />
    </div>
  </div>
</div>

<style>
  .card {
    border-radius: 5px;
    background-color: rgba(var(--accent-teal), 0.5);
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:
      transform 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
  }

  .card-title {
    font-size: 1.5rem;
    color: rgb(var(--primary-text));
    font-weight: bold;
    text-align: center;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .header {
    transition: all ease-in-out 0.2s;
    overflow: hidden;
  }

  .player-image {
    width: 16rem;
    height: 14rem;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }

  .card:hover .player-image {
    transform: scale(1.1);
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative; /* Ensures absolute positioning is relative to this container */
  }

  .icon-container {
    box-sizing: border-box;
    bottom: 0;
    width: 16rem;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all ease-in-out 0.2s;
    position: absolute;
    cursor: pointer;
  }
  .icon-container:hover {
    background-color: rgba(var(--accent-blue), 0.5);
  }

  .icon {
    width: 16px;
    height: 16px;
  }
</style>
