---
import {Image} from 'astro:assets';
import logo from '../assets/logo.png';
import "../components/globalStyles.css"
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="generator" content={Astro.generator}/>
  <title>GibStutz</title>
</head>
<body>
<header class="header">
  <Image src={logo} alt="GibStutz Logo" class="logo"/>
  <nav class="nav">
    <button class="btn">
      Team
    </button>    <button class="btn">
      Accomplishments
    </button>    <button class="btn">
      Placeholder
    </button>

  </nav>
</header>
<slot/>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        max-width: 100vw;
    }

    .header {
        box-sizing: border-box;
        transition: all;
        z-index: 100;
        width: 100%;
        max-width: 100vw;
        border-radius: 5px;
        position: fixed;
        display: flex;
        padding: 0.5rem 6rem;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(var(--primary-bg), 0.5);
    }
    .header:hover {
        background-color: rgba(var(--primary-bg), 0.8);
    }

    .logo {
        width: 75px;
        height: 75px;
    }

    .nav {
        display: flex;
        gap: 2rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        background-color: rgba(var(--secondary-bg),0.5);
    }

    @media (max-width: 1000px) {
        .header {
            padding: 1rem 4rem;
        }
    }
    @media (max-width: 600px) {
        .header {
            padding: 1rem 1rem;
        }
    }
</style>
